h1{
    text-align: center !important;
    padding-top: 25px !important;
}

.wrapper{
    text-align: center;
}

button{
    margin-top: 25px;
    
}

p{
    margin-top: 50px;
    text-align: center !important;
}